body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/894/7/desktop-wallpaper-ms-dhoni-full-screen-ms-dhoni.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: sticky;
}
h1{
    text-align: center;
    text-decoration-color: blue;
    text-transform: capitalize;
}
table,th,tr,td{
    border: 3px solid black;
    border-collapse: collapse;
}